
.tag-scrollers {
    align-items: center;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
}

.tag-scroller {
    display: grid;
    gap: 1.5rem;
    mask: linear-gradient(90deg, #0000, #181818 15%, #181818 85%, #0000);
}

.tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

@media (prefers-reduced-motion) {
    .tag-list {
        flex-flow: row nowrap;
        overflow: auto;
        scrollbar-width: none;
        scrollbar-color: transparent transparent;
    }
  
    .tag-list::-webkit-scrollbar-track {
        background: transparent;
    }
    .tag-list::-webkit-scrollbar-thumb {
        background: transparent;
    }
    .tag-list::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}

.tag-list li {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1;
    padding: 0.625rem 1.375rem;
    border: 2px solid #D9D9D9;
    border-radius: 10ch;
    white-space: nowrap;
}

.tag-scroller.scrolling .tag-list {
    width: max-content;
    flex-wrap: nowrap;
    animation: horizontal-scroll var(--duration) linear infinite;
}

.tag-scroller.scrolling .tag-list:nth-child(even) {
    --direction: reverse;
    animation: horizontal-scroll var(--duration) reverse linear infinite;
}

/* Animatie pauzeren wanneer je over een van de tag-lists hovert */
.tag-scroller.scrolling .tag-list:hover {
    animation-play-state: paused;
}

/* Animatie naar links scrollen */
@keyframes horizontal-scroll {
    to {
        transform: translateX(calc(-50% - 0.75rem));
    }
}

/* Animatie naar rechts scrollen */
@keyframes horizontal-scroll-reverse {
    to {
        transform: translateX(calc(50% + 0.75rem));
    }
}
